
@{
    ViewBag.Title = "Constitution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
        <div class="jumbotron">
            <h2 style="margin-bottom:0px">The Constitution of</h2>
            <h1><strong>Alpha Gamma Omega</strong></h1>
            <h2>Preamble</h2>
            <p>We, the members of Alpha Gamma Omega, in order to provide a useful and productive organization that inspires growth in personal character through brotherhood, service, and competition, do hereby ordain and establish this constitution as a foundation for the government of this institution. </p>
            <h2>Article 1</h2>
            <h3>Identifying Characteristics</h3>
            <h4>Section 1</h4>
            <p>The name of the organization shall be Alpha Gamma Omega, coming from the Greek word "Ago," meaning, "I lead, I bring, I go." </p>
            <h4>Section 2</h4>
            <p>
                This club shall have two mottos:
                <ol>
                    <li><strong><a href="http://www.biblegateway.com/passage/?search=Psalm%20133:1&version=RSV">Psalm 133:1</a></strong> "Behold, how good and pleasant it is when brothers dwell in unity!" <small><a href="http://www.biblegateway.com/passage/?search=Psalm%20133:1&version=RSV">RSV</a></small></li>
                    <li><strong><a href="http://www.biblegateway.com/passage/?search=2%20Timothy%201:7&version=NIV">II Timothy 1:7</a></strong> "For God did not give us a spirit of timidity, but a spirit of power, of love and of self-discipline." <small><a href="http://www.biblegateway.com/passage/?search=2%20Timothy%201:7&version=NIV">NIV</a></small></li>
                </ol>
            </p>
            <h4>Section 3</h4>
            <p>The colors of Alpha Gamma Omega shall be black, silver, and white.</p>
            <h4>Section 4</h4>
            <p>The mascot for Alpha Gamma Omega shall be the Medieval Knight. Knightly characteristics that shall be stressed will include: Chivalry, Honor, Excellence, Integrity, Dedication to the King of Kings, and Loyalty to His Kingdom.</p>
            <h2>Article 2</h2>
            <h3>Purpose</h3>
            <h4>Section 1</h4>
            <p>Each member should look upon his membership in Alpha Gamma Omega as a whole-hearted allegiance to the principles set forth in this constitution.</p>
            <h4>Section 2</h4>
            <p>
                The purpose of Alpha Gamma Omega is to instill in her members:
                <dl>
                    <dt>An Obligation to God</dt>
                    <dd>We are composed of dedicated men that bring each other closer to God through Christ and grow with each other in fellowship.</dd>
                    <dt>An Obligation to Club Spirit and Brotherhood</dt>
                    <dd>We strive to give her members a sense of duty and obligation to the club's activities and to have incredibly strong, fierce sense of spirit to the club.</dd>
                    <dt>An Obligation to Excellence</dt>
                    <dd>We strive not to obtain trophies, rather for excellence in all we do.</dd>
                </dl>
            </p>
            <h4>Section 3</h4>
            <p>Alpha Gamma Omega places itself under the authority of the Vice President for Student Development.</p>
            <h2>Article 3</h2>
            <h3>Membership and Dues</h3>
            <h4>Section 1</h4>
            <p>All members of Alpha Gamma Omega shall be men enrolled at Oklahoma Christian University taking at least five hours. Members must maintain the guidelines for membership as set forth by the Inter-Club Council (hereafter noted as I.C.C.). </p>
            <h4>Section 2</h4>
            <p>The number of members shall not exceed the limits set forth by the I.C.C. </p>
            <h4>Section 3</h4>
            <p>The members shall be granted membership by club sign-up and shall be voted in by the current members without discrimination with respect to race, creed, or national origin. </p>
            <h4>Section 4</h4>
            <p>
                The voting procedure shall commence as follows: Those who feel that an individual has shown enough potential for entering Alpha should vote "Yes" on that individual by checking the box, while those who do not feel the individual should represent Alpha should vote "No" by leaving it blank. There are no non-votes. The President, Vice President, and Chaplain are in charge of counting the votes. In the event of a tie, the President, Vice President, and Chaplain use their votes to decide. This will only take into account members that are eligible to vote according to rush policies, and those that have submitted ballots. Absentee ballots must be received by Rush Director or President BEFORE voting meeting.
                <aside>Note: During every voting meeting, it is important to stress the two-sided coin that is Club Membership. Brotherly Unity does not require uniformity-therefore, no one should be excluded on the basis of annoying quirks or other trivial matters. However, if an individual's behavior and attitude is not befitting the reputation of an Alpha Knight, they should not be allowed to represent Alpha as a member.</aside>
            </p>
            <h4>Section 5</h4>
            <p>
                Should any members have a good reason that someone should or should not get into club but believes the information is too private to share with all of club, that member is to present the case to the President(within an hour after voting), who will check and see if their opinion is opposite of the vote. If it is, the President and Vice President must unanimously decide if a case is worth pursuing. In the case that it is to be pursued, the matter is presented to the officers immediately and privately. An all but 2 vote is needed from the officers to change the vote.
                Note: This is not something to be taken lightly, club votes should in all but very rare cases be the official vote. This, however, does help cases with information too sensitive to be shared with all of club.
            </p>
            <h4>Section 6</h4>
            <p>The minimal rush voting policies are for members to attend at least 3 rush events in the Fall semester and at least 2 rush events in the Spring semester. These policies are subject to the rush director's verification and/or change each semester.</p>
            <h4>Section 7</h4>
            <p>Once members are voted in, the club shall follow the guidelines set forth by the I.C.C. regarding pledging and shall not in any way violate the Hazing Law set forth by the state of Oklahoma. </p>
            <h4>Section 8</h4>
            <p>Each member shall pay dues of an amount set forth by the current officers at the beginning of the fall school term. </p>
            <h2>Article 4</h2>
            <h3>Organization</h3>
            <h4>Section 1</h4>
            <p>
                The Alpha officers shall be elected by a majority vote of the club members. The officers shall be:
                <ul>
                    <li>President</li>
                    <li>Vice President</li>
                    <li>Chaplain</li>
                    <li>Secretary</li>
                    <li>Treasurer</li>
                    <li>Social Service Director</li>
                    <li>Athletic Director</li>
                    <li>Historian</li>
                    <li>Rush Director</li>
                    <li>Spring Sing Director</li>
                    <li>Webmaster</li>
                </ul>
            </p>
            <h4>Section 2</h4>
            <p>Officers must have attended OC for the semester immediately preceding their term and have completed at least 24 credit hours in the last 2 semesters. They shall also maintain good standing with the University as well as good chapel standing. They shall be elected at least two weeks before school is out in the spring. New officers are to begin assisting the current officers the day they are elected. </p>
            <h4>Section 3</h4>
            <p>
                All officers must attend the officer meetings scheduled by the President. All officers are required to train their successors on the transitioning job.
                Each officer must read the entirety of the constitution.
            </p>
            <h4>Section 4</h4>
            <p>
                The duties of all officers shall be as follows:
                <dl>
                    <dt><strong>President</strong>:</dt>
                    <dd> The President is the chief officer and the administrator of all club affairs. He serves as the representative to the university, and presides over both the officer and club meetings. Nominees for this office must have either previously served as an officer, or their nomination must receive majority approval from the current president, vice-president, and chaplain.</dd>
                    <dt><strong>Vice President</strong>:</dt>
                    <dd> The Vice President is in charge of organizing and coordinating social events, Fall and Spring Banquets, and official club apparel. The Vice President is also responsible for the affairs of the club in the absence of the President.</dd>
                    <dt><strong>Chaplain</strong>:</dt>
                    <dd> The Chaplain is in charge of all devotionals that the club organizes. The Chaplain is also responsible for the spiritual guidance and personal development of the club and her members.</dd>
                    <dt><strong>Secretary</strong>:</dt>
                    <dd> The Secretary serves as the Editor-in-Chief of the club newsletter, The Knightly News, and is responsible for the distribution of said newsletter. He is also responsible for the publication and distribution of a club directory for the entire year, keeping accurate notes of all club meetings and voting results, and obtaining the club stationary.</dd>
                    <dt><strong>Treasurer</strong>:</dt>
                    <dd> The Treasurer is responsible for collecting dues, handling all money transactions, and keeping an accurate record of the club's finances.</dd>
                    <dt><strong>Social Service Director</strong>:</dt>
                    <dd> The Social Service Director is responsible for the planning and organizing of all social service events.</dd>
                    <dt><strong>Athletic Director</strong>:</dt>
                    <dd> The Athletic Director is responsible for organizing and coordinating all athletic events, appointing coaches, and assigning members to leagues. He or his proxy is required to attend all meetings called by the campus Intramural Director.</dd>
                    <dt><strong>Historian</strong>:</dt>
                    <dd> The Historian is responsible for keeping a photographic record of various club activities, producing a year-end video and all alumni relations including Alpha's homecoming events.</dd>
                    <dt><strong>Rush Director</strong>:</dt>
                    <dd> The Rush/PR Director is responsible for the recruitment of new members each Fall and Spring trimester. He is responsible for organizing and coordinating all Rush and recruitment activities including induction, knighting, the joust, and the feast. It is recommended that the rush director be an individual who has participated in Fall rush. He is also responsible for relations with other clubs, including but not limited to Unity for Spring Sing in the Spring.</dd>
                    <dt><strong>Spring Sing Director</strong>:</dt>
                    <dd> The Spring Sing Director is responsible for producing a Spring Sing show. The Director is responsible for all aspects of the show such as costumes, choreography, music, etc.</dd>
                    <dt><strong>Webmaster</strong>:</dt>
                    <dd> </dd>
                </dl>
            </p>
            <h4>Section 5</h4>
            <p>Should any members feel that an officer is not fit to perform his duties that member is to present the case to the President who shall unanimously decide with the Vice President if the case is to be pursued. To relieve an officer of his duties, a 7/9 vote shall be taken of the remaining officers. </p>
            <h4>Section 6</h4>
            <p>Should any officer become unable to fulfill his duties, the President will temporarily take over such duties or delegate them to another club member. If the vacancy occurs within a month of voting meeting in the spring semester, the President or said member will fulfill the duties until voting meeting. If the vacancy occurs more than a month before voting meeting, an announcement to club of the vacancy will be made immediately, and nominations for a replacement will be taken at the next regularly scheduled club meeting according to standard club procedure. Club will vote for a replacement at the following meeting. With a majority vote, the replacement shall take office immediately and hold the office until the end of the academic year. </p>
            <h2>Article 5</h2>
            <h3>Sponsorship</h3>
            <h4>Section 1</h4>
            <p>This organization is required to have at least two sponsors. These must by current members of the Oklahoma Christian University faculty or staff and must be approved by the Dean of Students. </p>
            <h4>Section 2</h4>
            <p>Each sponsor shall be chosen by the Alpha officers. The President shall invite the candidate to accept the position at the beginning of the fall term. Once the nomination is accepted, the new sponsor shall serve for at least one academic year. The President must verbally renew the sponsor for the next school year, if the President desires. </p>
            <h4>Section 3</h4>
            <p>One sponsor is required to attend all overnight club activities, initiation retreats, and all club meetings in which voting takes place for new members or officers. They shall serve as advisors in club affairs when needed. </p>
            <h4>Section 4</h4>
            <p>The club extends an open invitation for the sponsors to attend all club activities and will provide means for selected activities and apparel. </p>
            <h2>Article 6</h2>
            <h3>Meetings</h3>
            <h4>Section 1</h4>
            <p>Alpha Gamma Omega shall meet at regularly scheduled times as determined by the officers. The President has the right to schedule additional meetings or cancel meetings at his discretion. </p>
            <h2>Article 7</h2>
            <h3>Discipline</h3>
            <h4>Section 1</h4>
            <p>There shall be a disciplinary committee composed of the President, Vice President, Chaplain, a junior member, and a senior member. Any member of the club that does not properly represent the club by his actions can be asked by the officers to appear before the committee. The discipline committee has the right to suspend temporarily or permanently the individual's right to represent Alpha Gamma Omega in any activity. </p>
            <h4>Section 2</h4>
            <p>The junior member shall be defined as a recently inducted member. The senior member shall be defined as one who has held membership for more than two trimesters. The junior member and the senior member will be elected by the club after the induction of new members during the fall term and shall hold their position until the next election the following fall. </p>
            <h4>Section 3</h4>
            <p>Should a junior or senior member be unable to complete his duties, a replacement shall be appointed by the officers. His name shall be brought before the club and a voice vote shall be taken. With a majority vote, the new junior or senior member shall take his position immediately.</p>
            <h4>Section 4</h4>
            <p>The junior and senior representatives shall be considered part-time officers for the club, whose presence is optional at officer's meetings.</p>
            <h4>Section 5</h4>
            <p>The disciplinary shall only remove members from the club with a 4/5 vote. Removal from club shall only be overturned with a 7/10 vote of the officers. </p>
            <h2>Article 8</h2>
            <h3>Amendments</h3>
            <h4>Section 1</h4>
            <p>This constitution may be amended with the approval of 2/3 of the club membership. </p>
            <h4>Section 2</h4>
            <p>No section of Alpha Gamma Omega constitution shall be in conflict with the Holy Bible or policies or administration of the University. </p>
            <h2>Article 9</h2>
            <h3>Quorum</h3>
            <h4>Section 1</h4>
            <p>In order to vote on any club business in an officer meeting, 2/3 of the officers must be present. </p>
            <h4>Section 2</h4>
            <p>In order to vote on any club business outside of the officer meetings, 1/2 of the membership must be present at the club meeting. </p>
            <h4>Section 3</h4>
            <p>In order to elect new members or officers, there must be 2/3 of the club present. </p>
            <h2>Article 10</h2>
            <h3>Ratification</h3>
            <h4>Section 1</h4>
            <p>The constitution of Alpha Gamma Omega shall become effective when approved by 3/4 of its members and when signed by the current officers.</p>
        </div>
    </div>
</div>