@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Page.Title = "Alpha Gamma Omega";
    ViewBag.imageCount = ViewBag.photos.Length;
    var sponsorFile = Server.MapPath("~/Content/Pages/HomePage/Sponsors.txt");
    Array sponsors = File.ReadAllLines(sponsorFile);
}

<div class="banner-img"><img src="/Images/Site/logo-banner.png" /></div>
<!-- If Small screen size or bigger -->
<div class="event-banner hidden-xs">
    <div class="event-arrow"></div>Year
    <div class="event-title">
        <a class="event-name">New 's Day Celebration</a>
    </div>
    <div class="event-details">
        @Html.Action("GetHtmlPage", "Home", new { path = "~/Content/Pages/HomePage/EventDetails.txt" })
    </div>
</div>

<!-- If Extra Small screen size or smaller -->
<div class="event-title hidden-lg hidden-md hidden-sm">
    <span class="event-coming-up">Coming Up Next:</span>
    <span class="event-name">New Year's Day Celebration</span>
</div>
<div class="event-details hidden-lg hidden-md hidden-sm">
    @Html.Action("GetHtmlPage", "Home", new { path = "~/Content/Pages/HomePage/EventDetails.txt" })
</div>           

