@{
    //Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Officers of Alpha";
}

<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h1>@Page.Title</h1>
        <p>
            Listed below are the current officers of Alpha Gamma Omega.  You may click on any office title to send an email to that office directly.
            <br />
        </p>
        <ul>
            <li><a href="mailto:king@agoknights.com" title="Email the President">President:</a> David Lopez</li>
            <li><a href="mailto:queen@agoknights.com" title="Email the Vice President">Vice President:</a> Mitch Jones</li>
            <li><a href="mailto:bishop@agoknights.com" title="Email the Chaplain">Chaplain:</a> Calvin Lyman</li>
            <li><a href="mailto:friar@agoknights.com" title="Email the Social Service Director">Social Service Director:</a> Hunter Edwards</li>
            <li><a href="mailto:taxcollector@agoknights.com" title="Email the Treasurer">Treasurer:</a> Sergio Soto</li>
            <li><a href="mailto:sergeantatarms@agoknights.com" title="Email the Athletic Director">Athletic Director:</a> Joey Hemenway</li>
            <li>
                <a href="mailto:jester@agoknights.com" title="Email the Spring Sing Director">Spring Sing Director:</a>
                <ul>
                    <li>Lead: Josh Rodman</li>
                    <li>Assistant: Eric Falley</li>
                    <li>Assistant: Ryan Hinds</li>
                </ul>
            </li>
            <li>
                <a href="mailto:ambassador@agoknights.com" title="Email the Rush Director">Rush Director:</a>
                <ul>
                    <li>Lead: Kyle Major</li>
                    <li>Assistant: Mitch Jones</li>
                </ul>
            </li>
            <li><a href="mailto:scribe@agoknights.com" title="Email the Secretary">Secretary:</a> Eric Falley</li>
            <li><a href="mailto:wizard@agoknights.com" title="Email the Historian">Historian:</a> Chad Steeves</li>
            <li><a href="mailto:eunuch@agoknights.com" title="Email the Webmaster">Webmaster:</a> Daniel Sheldon</li>
        </ul>
    </div>
</div>