@{
    //Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Officers of Alpha";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron">
            <h1>@Page.Title</h1>
            <p>
                Listed below are the current officers of Alpha Gamma Omega.  You may click on any office title to send an email to that office directly.
                <br />
            </p>
            <ul>
                <li><a href="mailto:king@agoknights.com" title="Email the President">President:</a> Eric Falley</li>
                <li><a href="mailto:queen@agoknights.com" title="Email the Vice President">Vice President:</a> Josh Rodman</li>
                <li><a href="mailto:bishop@agoknights.com" title="Email the Chaplain">Chaplain:</a> Tyler Robbins</li>
                <li><a href="mailto:friar@agoknights.com" title="Email the Social Service Director">Social Service Director:</a> David Lopez</li>
                <li><a href="mailto:taxcollector@agoknights.com" title="Email the Treasurer">Treasurer:</a> Brandon Loe</li>
                <li><a href="mailto:sergeantatarms@agoknights.com" title="Email the Athletic Director">Athletic Director:</a> Derek Seymour</li>
                <li><a href="mailto:jester@agoknights.com" title="Email the Spring Sing Director">Spring Sing Director:</a> Luke Cariaga</li>
                <li><a href="mailto:ambassador@agoknights.com" title="Email the Rush Director">Rush Director:</a> Hunter Edwards</li>
                <li><a href="mailto:scribe@agoknights.com" title="Email the Secretary">Secretary:</a> Jonathan Miller</li>
                <li><a href="mailto:wizard@agoknights.com" title="Email the Historian">Historian:</a> David Burmeier</li>
            </ul>
        </div>
    </div>
</div>