@{
    //Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Officers of Alpha";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron">
            <h1>@Page.Title</h1>
            <p>
                Listed below are the current officers of Alpha Gamma Omega.  You may click on any office title to send an email to that office directly.
                <br />
            </p>
            <ul>
                <li><a href="mailto:king@agoknights.com" title="Email the President">President:</a> Hunter Edwards</li>
                <li><a href="mailto:queen@agoknights.com" title="Email the Vice President">Vice President:</a> Seth Howard</li>
                <li><a href="mailto:bishop@agoknights.com" title="Email the Chaplain">Chaplain:</a> Derek Seymour</li>
                <li><a href="mailto:scribe@agoknights.com" title="Email the Secretary">Secretary:</a> David Burmeier</li>
                <li><a href="mailto:taxcollector@agoknights.com" title="Email the Treasurer">Treasurer:</a> Eric Falley</li>
                <li><a href="mailto:friar@agoknights.com" title="Email the Social Service Director">Social Service Director:</a> Jacob Bos</li>
                <li><a href="mailto:sergeantatarms@agoknights.com" title="Email the Athletic Director">Athletic Director:</a> Kevin McGuire</li>
                <li><a href="mailto:jester@agoknights.com" title="Email the Spring Sing Director">Spring Sing Director:</a> Caleb Richter</li>
                <li><a href="mailto:ambassador@agoknights.com" title="Email the Rush Directors">Rush Directors:</a> Tanner Robbins and Sheldon Yeakley</li>
                <li><a href="mailto:wizard@agoknights.com" title="Email the Historian">Historian:</a> David Burmeier</li>
                <li><a href="mailto:herald@agoknights.com" title="Email the Homecoming Director">Homecoming Director:</a> James Olsson</li>
                <li><a href="mailto:towncrier@agoknights.com" title="Email the PR/Marketing Director">PR/Marketing Director:</a> Daniel Marshall</li>
                <li><a href="mailto:steward@agoknights.com" title="Email the Quartermaster">Quartermaster:</a> Nat Barrack</li>
                <li><a href="mailto:alchemist@agoknights.com" title="Email the Webmaster">Webmaster:</a> Christian Wagner</li>
            </ul>
        </div>
    </div>
</div>