
@{
    ViewBag.Title = "Rush";
    Page.Title = "Rush";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-content:center">
        <div class="jumbotron">
            <h1>@Page.Title</h1>
            @Html.Raw(ViewBag.rushContent)
        </div>
    </div>
</div>

